@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  outline: 2em solid #ededed;
  font-family: "system-ui", sans-serif;
}

a{
  color: #e09a0e
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;}